blueprints:
  - name: demo-app
    provider:
      name: Demo App
      externalHost: https://demo.schober.dev
      mode: forward_single
    application:
      name: Demo App
      slug: demo-app
      metaLaunchUrl: https://demo.schober.dev
