blueprints:
  - name: demo-app
    provider:
      name: Demo App
      externalHost: https://demo.schober.dev
      mode: forward_single
    application:
      name: Demo App
      slug: demo-app
      metaLaunchUrl: https://demo.schober.dev
  - name: argocd
    provider:
      kind: oauth2
      name: ArgoCD
      clientId: argocd
      clientSecretEnv: AUTHENTIK_ARGOCD_CLIENT_SECRET
      redirectUris:
        - url: https://argo.schober.dev/api/dex/callback
          matchingMode: strict
        - url: http://localhost:8085/auth/callback
          matchingMode: strict
    application:
      name: ArgoCD
      slug: argocd
      metaLaunchUrl: https://argo.schober.dev
    groups:
      - name: ArgoCD Admins
      - name: ArgoCD Viewers
