argo-cd:
  global:
    domain: argo.schober.dev

  configs:
    params:
      server.insecure: true

  server:
    httproute:
      enabled: true
      hostnames:
        - argo.schober.dev
      parentRefs:
        - name: internal-gateway
          namespace: istio-ingress-internal
          sectionName: https