authentik:
  global:
    env:
      - name: AUTHENTIK_POSTGRESQL__HOST
        valueFrom:
          secretKeyRef:
            name: authentik-postgres-app
            key: host
      - name: AUTHENTIK_POSTGRESQL__NAME
        valueFrom:
          secretKeyRef:
            name: authentik-postgres-app
            key: dbname
      - name: AUTHENTIK_POSTGRESQL__USER
        valueFrom:
          secretKeyRef:
            name: authentik-postgres-app
            key: username
      - name: AUTHENTIK_POSTGRESQL__PASSWORD
        valueFrom:
          secretKeyRef:
            name: authentik-postgres-app
            key: password
      - name: AUTHENTIK_POSTGRESQL__PORT
        valueFrom:
          secretKeyRef:
            name: authentik-postgres-app
            key: port
      - name: AUTHENTIK_ARGOCD_CLIENT_SECRET
        valueFrom:
          secretKeyRef:
            name: authentik-secret
            key: argocdClientSecret
      - name: AUTHENTIK_GRAFANA_CLIENT_SECRET
        valueFrom:
          secretKeyRef:
            name: authentik-secret
            key: grafanaClientSecret
  authentik:
    existingSecret:
      secretName: authentik-secret

  postgresql:
    enabled: false

  blueprints:
    configMaps:
      - blueprint-demo-app
      - blueprint-argocd
      - blueprint-grafana

    data:
      - name: demo-app
        provider:
          name: Demo App
          externalHost: https://demo.schober.dev
          mode: forward_single
        application:
          name: Demo App
          slug: demo-app
          metaLaunchUrl: https://demo.schober.dev
      - name: argocd
        provider:
          kind: oauth2
          name: ArgoCD
          clientId: argocd
          clientSecretEnv: AUTHENTIK_ARGOCD_CLIENT_SECRET
          redirectUris:
            - url: https://argo.schober.dev/api/dex/callback
              matchingMode: strict
            - url: http://localhost:8085/auth/callback
              matchingMode: strict
        application:
          name: ArgoCD
          slug: argocd
          metaLaunchUrl: https://argo.schober.dev
        groups:
          - name: ArgoCD Admins
          - name: ArgoCD Viewers
      - name: grafana
        provider:
          kind: oauth2
          name: Grafana
          clientId: grafana
          clientSecretEnv: AUTHENTIK_GRAFANA_CLIENT_SECRET
          includeGroups: true
          redirectUris:
            - url: https://grafana.schober.dev/login/generic_oauth
              matchingMode: strict
        application:
          name: Grafana
          slug: grafana
          metaLaunchUrl: https://grafana.schober.dev
        groups:
          - name: Grafana Admins
          - name: Grafana Editors
          - name: Grafana Viewers
      - name: n8n
        provider:
          name: n8n
          externalHost: https://n8n.schober.dev
          mode: forward_single
        application:
          name: n8n
          slug: n8n
          metaLaunchUrl: https://n8n.schober.dev

externalSecret:
  enabled: true
  secretStoreRef:
    name: bitwarden
    kind: ClusterSecretStore
  data:
    secretKey: authentik-secret-key
    bootstrapPassword: authentik-bootstrap-password
    bootstrapEmail: authentik-bootstrap-email
    bootstrapToken: authentik-bootstrap-token
    argocdClientSecret: authentik-argocd-client-secret
    grafanaClientSecret: authentik-grafana-client-secret

route:
  enabled: true
  hostname: auth.schober.dev
  gatewayName: internal-gateway
  gatewayNamespace: istio-ingress-internal
  gatewaySectionName: https
  serviceName: authentik-server
  servicePort: 80


