istiod:
  profile: ambient
  meshConfig:
    enablePrometheusMerge: true
    extensionProviders:
      - name: alloy-otlp
        opentelemetry:
          service: alloy.monitoring.svc.cluster.local
          port: 4317
  telemetry:
    enabled: true
    v2:
      enabled: true
      prometheus:
        enabled: true
  pilot:
    env:
      PILOT_ENABLE_TELEMETRY: "true"