istiod:
  profile: ambient
  meshConfig:
    enablePrometheusMerge: true
    extensionProviders:
      - name: alloy-otlp
        opentelemetry:
          service: alloy.monitoring.svc.cluster.local
          port: 4317
      - name: authentik
        envoyExtAuthzHttp:
          service: authentik-server.authentik.svc.cluster.local
          port: 80
          pathPrefix: /outpost.goauthentik.io/auth/envoy
          headersToDownstreamOnAllow:
            - cookie
          headersToUpstreamOnAllow:
            - set-cookie
            - x-authentik-*
          includeRequestHeadersInCheck:
            - cookie
  telemetry:
    enabled: true
    v2:
      enabled: true
      prometheus:
        enabled: true
  pilot:
    env:
      PILOT_ENABLE_TELEMETRY: "true"