{{- if and .Values.app.authentik.enabled .Values.app.host }}
apiVersion: security.istio.io/v1beta1
kind: AuthorizationPolicy
metadata:
  name: {{ printf "%s-authz" .Values.app.backendServiceName }}
  namespace: {{ .Values.app.gateway.namespace }}
spec:
  targetRef:
    kind: Gateway
    group: gateway.networking.k8s.io
    name: {{ .Values.app.gateway.name }}
  action: CUSTOM
  provider:
    name: {{ .Values.app.authentik.provider }}
  rules:
    - to:
        - operation:
            hosts:
              - {{ .Values.app.host }}
{{- end }}
