apiVersion: security.istio.io/v1beta1
kind: AuthorizationPolicy
metadata:
  name: demo-app-authentik
  namespace: istio-ingress-internal
spec:
  targetRef:
    kind: Gateway
    group: gateway.networking.k8s.io
    name: internal-gateway
  action: CUSTOM
  provider:
    name: authentik
  rules:
    - to:
        - operation:
            hosts:
              - demo.schober.dev
