zot:
  service:
    type: ClusterIP
  persistence: true
  pvc:
    create: true
    storage: 10Gi
    storageClassName: proxmox-csi
  mountConfig: true
  configFiles:
    config.json: |-
      {
          "storage": { "rootDirectory": "/var/lib/registry" },
          "log": { "level": "debug" },
          "http": {
              "address": "0.0.0.0",
              "port": "5000",
              "externalUrl": "https://zot.schober.dev",
              "auth": {
                  "openid": {
                      "providers": {
                          "oidc": {
                              "credentialsFile": "/secrets/zot/oidc-credentials.json",
                              "issuer": "https://auth.schober.dev/application/o/zot/",
                              "keypath": "",
                              "scopes": ["openid", "profile", "email"]
                          }
                      }
                  }
              },
              "accessControl": {
                  "repositories": {
                      "**": {
                          "policies": [
                              {
                                  "users": ["zot-users"],
                                  "actions": ["read", "create"]
                              }
                          ],
                        "defaultPolicy": ["read"]
                     }
                  },
                  "adminPolicy": {
                      "users": ["zot-admins"],
                      "actions": ["read", "create", "update", "delete"]
                  }
              }
          }
      }
  externalSecrets:
    - secretName: zot-oidc-credentials
      mountPath: /secrets/zot
  mountSecret: true
  secretFiles: {}