{{- range .Values.blueprints }}
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: blueprint-{{ .name }}
  namespace: {{ $.Release.Namespace }}
data:
  {{ .name }}.yaml: |
    # yaml-language-server: $schema=https://goauthentik.io/blueprints/schema.json
    version: 1
    metadata:
      name: {{ .application.name }}
      labels:
        blueprints.goauthentik.io/description: "Blueprint for {{ .application.name }}"
    entries:
      {{- if .groups }}
      {{- $blueprint := . }}
      {{- range .groups }}
      - model: authentik_core.group
        id: {{ $blueprint.name }}-group-{{ .name | lower | replace " " "-" }}
        identifiers:
          name: {{ .name }}
      {{- end }}
      {{- end }}
      {{- if eq (default "proxy" .provider.kind) "proxy" }}
      - model: authentik_providers_proxy.proxyprovider
        id: {{ .name }}-provider
        identifiers:
          name: {{ .provider.name }}
        attrs:
          mode: {{ .provider.mode }}
          external_host: {{ .provider.externalHost }}
          authorization_flow:
            !Find [authentik_flows.flow, [slug, default-provider-authorization-explicit-consent]]
          authentication_flow:
            !Find [authentik_flows.flow, [slug, default-authentication-flow]]
          invalidation_flow:
            !Find [authentik_flows.flow, [slug, default-invalidation-flow]]
      - model: authentik_core.application
        id: {{ .name }}-application
        identifiers:
          slug: {{ .application.slug }}
        attrs:
          name: {{ .application.name }}
          slug: {{ .application.slug }}
          provider: !KeyOf {{ .name }}-provider
          meta_launch_url: {{ .application.metaLaunchUrl }}
          policy_engine_mode: any
      {{- else if eq .provider.kind "oauth2" }}
      {{- if (default false .provider.includeGroups) }}
      - model: authentik_providers_oauth2.scopemapping
        id: {{ .name }}-scope-groups
        identifiers:
          name: {{ .provider.name }} Groups
        attrs:
          name: {{ .provider.name }} Groups
          scope_name: groups
          expression: |
            return {"groups": [group.name for group in user.ak_groups.all()]}
      {{- end }}
      - model: authentik_providers_oauth2.oauth2provider
        id: {{ .name }}-provider
        identifiers:
          name: {{ .provider.name }}
        attrs:
          name: {{ .provider.name }}
          authorization_flow:
            !Find [authentik_flows.flow, [slug, default-provider-authorization-explicit-consent]]
          invalidation_flow:
            !Find [authentik_flows.flow, [slug, default-provider-invalidation-flow]]
          client_type: confidential
          client_id: {{ .provider.clientId }}
          client_secret: !Env {{ .provider.clientSecretEnv }}
          redirect_uris:
            {{- range .provider.redirectUris }}
            - url: {{ .url }}
              matching_mode: {{ .matchingMode }}
            {{- end }}
          {{- $signingKeyName := default "authentik Internal JWT Certificate" .provider.signingKeyName }}
          signing_key:
            !Find [authentik_crypto.certificatekeypair, [name, {{ $signingKeyName | quote }}]]
          property_mappings:
            - !Find [authentik_providers_oauth2.scopemapping, [scope_name, openid]]
            - !Find [authentik_providers_oauth2.scopemapping, [scope_name, email]]
            - !Find [authentik_providers_oauth2.scopemapping, [scope_name, profile]]
            {{- if (default false .provider.includeGroups) }}
            - !KeyOf {{ .name }}-scope-groups
            {{- end }}
            - !Find [authentik_providers_oauth2.scopemapping, [scope_name, offline_access]]
      - model: authentik_core.application
        id: {{ .name }}-application
        identifiers:
          slug: {{ .application.slug }}
        attrs:
          name: {{ .application.name }}
          slug: {{ .application.slug }}
          provider: !KeyOf {{ .name }}-provider
          meta_launch_url: {{ .application.metaLaunchUrl }}
          policy_engine_mode: any
      {{- end }}
{{- end }}
