{{- if .Values.tika.enabled }}
apiVersion: apps/v1
kind: Deployment
metadata:
  name: paperless-tika
  namespace: {{ .Release.Namespace }}
  labels:
    app: paperless
    component: tika
spec:
  replicas: 1
  selector:
    matchLabels:
      app: paperless
      component: tika
  template:
    metadata:
      labels:
        app: paperless
        component: tika
    spec:
      containers:
        - name: tika
          image: "{{ .Values.tika.image.repository }}:{{ .Values.tika.image.tag }}"
          imagePullPolicy: {{ .Values.tika.image.pullPolicy }}
          ports:
            - containerPort: 9998
              protocol: TCP
{{- end }}
