{{- if .Values.gotenberg.enabled }}
apiVersion: apps/v1
kind: Deployment
metadata:
  name: paperless-gotenberg
  namespace: {{ .Release.Namespace }}
  labels:
    app: paperless
    component: gotenberg
spec:
  replicas: 1
  selector:
    matchLabels:
      app: paperless
      component: gotenberg
  template:
    metadata:
      labels:
        app: paperless
        component: gotenberg
    spec:
      containers:
        - name: gotenberg
          image: "{{ .Values.gotenberg.image.repository }}:{{ .Values.gotenberg.image.tag }}"
          imagePullPolicy: {{ .Values.gotenberg.image.pullPolicy }}
          args:
            {{- toYaml .Values.gotenberg.args | nindent 12 }}
          ports:
            - containerPort: 3000
              protocol: TCP
{{- end }}
