apiVersion: v1
kind: Service
metadata:
  name: paperless
  namespace: {{ .Release.Namespace }}
spec:
  selector:
    app: paperless
    component: web
  ports:
    - protocol: TCP
      port: 80
      targetPort: 8000
