grafana:
  # Single replica for homelab
  replicas: 1

  envFromSecret: grafana-authentik-oidc

  grafana.ini:
    server:
      root_url: https://grafana.schober.dev
    auth:
      signout_redirect_url: https://auth.schober.dev/application/o/grafana/end-session/
      oauth_auto_login: true
    auth.generic_oauth:
      name: authentik
      enabled: true
      client_id: grafana
      client_secret: $__env{GRAFANA_OAUTH_CLIENT_SECRET}
      scopes: "openid profile email groups"
      auth_url: https://auth.schober.dev/application/o/authorize/
      token_url: https://auth.schober.dev/application/o/token/
      api_url: https://auth.schober.dev/application/o/userinfo/
      allow_sign_up: true
      role_attribute_path: >-
        contains(groups[*], 'Grafana Admins') && 'Admin' ||
        contains(groups[*], 'Grafana Editors') && 'Editor' ||
        'Viewer'
  
  # Configure datasources
  datasources:
    datasources.yaml:
      apiVersion: 1
      datasources:
        - name: Prometheus
          type: prometheus
          url: http://prometheus-server.monitoring.svc.cluster.local
          access: proxy
          isDefault: true
        - name: Loki
          type: loki
          url: http://loki.monitoring.svc.cluster.local:3100
          access: proxy
        - name: Tempo
          type: tempo
          url: http://tempo.monitoring.svc.cluster.local:3200
          access: proxy
  
  # Configure Istio dashboards
  dashboardProviders:
    dashboardproviders.yaml:
      apiVersion: 1
      providers:
        - name: 'istio'
          orgId: 1
          folder: 'Istio'
          type: file
          disableDeletion: false
          editable: true
          options:
            path: /var/lib/grafana/dashboards/istio
  
  dashboards:
    istio:
      istio-mesh:
        gnetId: 7639
        revision: 229
        datasource: Prometheus
      istio-service:
        gnetId: 7636
        revision: 229
        datasource: Prometheus
      istio-workload:
        gnetId: 7630
        revision: 229
        datasource: Prometheus
      istio-performance:
        gnetId: 11829
        revision: 229
        datasource: Prometheus
      istio-control-plane:
        gnetId: 7645
        revision: 229
        datasource: Prometheus
  
  # Disable HA
  persistence:
    enabled: false
