grafana:
  # Single replica for homelab
  replicas: 1
  
  # Configure datasources
  datasources:
    datasources.yaml:
      apiVersion: 1
      datasources:
        - name: Prometheus
          type: prometheus
          url: http://prometheus-server.monitoring.svc.cluster.local
          access: proxy
          isDefault: true
        - name: Loki
          type: loki
          url: http://loki-gateway.monitoring.svc.cluster.local
          access: proxy
        - name: Tempo
          type: tempo
          url: http://tempo.monitoring.svc.cluster.local:3200
          access: proxy
  
  # Configure Istio dashboards
  dashboardProviders:
    dashboardproviders.yaml:
      apiVersion: 1
      providers:
        - name: 'istio'
          orgId: 1
          folder: 'Istio'
          type: file
          disableDeletion: false
          editable: true
          options:
            path: /var/lib/grafana/dashboards/istio
  
  dashboards:
    istio:
      istio-mesh:
        gnetId: 7639
        revision: 229
        datasource: Prometheus
      istio-service:
        gnetId: 7636
        revision: 229
        datasource: Prometheus
      istio-workload:
        gnetId: 7630
        revision: 229
        datasource: Prometheus
      istio-performance:
        gnetId: 11829
        revision: 229
        datasource: Prometheus
      istio-control-plane:
        gnetId: 7645
        revision: 229
        datasource: Prometheus
  
  # Disable HA
  persistence:
    enabled: false
